* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.cardItems {
  height: 465px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

/* IMAGEN */

.cardItems .imgCard {
  height: 60%;
  display: flex;
  justify-content: center;
}

.cardItems .imgCard img {
  width: 100%;
}

.cardItems .imgCard img:hover{
  transform: translateY(-40px) scale(1.25);
}
/* DESCRIPCION */

.descriptionCard .title {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  margin: 10px 0;
}

.descriptionCard .price {
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0;
  color: #e10600;
  display: flex;
}

.descriptionCard {
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
}

.descriptionCard .containerDescription {
  display: none;
}

/* BOTONES */

.buttons {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1vh;
}

.buttons #details {
  width: 50%;
  height: 35px;
  border-radius: 50px;
  background-color: #e10600;
  color: #fff;
  border: none;
  font-size: 21px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.buttons #details:hover {
  background-color: #101820;
}

.buttons #addCart {
  width: 15%;
  background-color: #e10600;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  border: none;
  margin-left: 7px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons #addCart:hover {
  background-color: #101820;
}
